body{
    width:950px;
    margin-left:auto;
    margin-right:auto;
}

header{
    text-align:center;
    background-color:#990909;
}

header img{
    padding-top:11px;
}


section{
    display:inline-block;
    text-align:center;
}

section img{
    width:150px;
    padding:20px 42px 0px 42px;
}

nav{
    background:#000;
    font-size:18px;
    color:#fff;
    box-sizing:border-box;
}


main{
    background-color:#990909;
    font-size:18px;
    height:360px;
}

.left-column{
    width:21%;
    background-color:#7d0909;
    float:left;
    margin:2px;
    height:340px;
}

.left-column p{
    color:#e95b11;
    text-decoration:underline;
    padding-bottom:22px;

}

article{
    width:63%;
    float:left;
}

article p{
    color:#fff;
    padding-top:20px;
}

.right-column{
    width:15%;
    display:inline-block;
    background-color:#e3dddd;
}

.right-column h1{
    text-align:center;
    height:20px;
    background-color:#bdbdbd;
}

.right-column p{
    padding-top:7px;
    padding-bottom:15px;
}

hr{
    width:77px;
}

footer{
    text-align:center;
    height:50px;
    background-color:#990909;
}

footer p{
    background:#e95b11;
    margin:0px 4px;
    color:#fff;
}